body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: blue; 
    color: black;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 15px; 
}

nav a {
    color: black;
    padding: 10px;
    text-decoration: none;
    background: lightblue; 
    border-radius: 5px; 
}

main {
    padding: 20px;
    text-align: left;
}

h1 {
    color: darkblue; 
}

footer {
    text-align: center;
    padding: 10px 0;
    background: blue; 
    color: white;
    margin: 0;
}

img {
    width: 40%; 
    height: auto; 
    margin: 20px 0;
    border: 3px solid red;
    border-radius: 10px;
}

h2 {
    margin-top: 40px; 
}

p {
    max-width: 1400px; 
    margin: 0 auto; 
}

main {
    display: flex;
    flex-direction: column; 
    align-items: left; 
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(208,244,255,1) 9%, rgba(254,254,254,1) 18%, rgba(210,246,255,1) 27%, rgba(250,250,250,1) 36%, rgba(204,234,241,1) 45%, rgba(255,255,255,1) 54%, rgba(207,239,246,1) 63%, rgba(255,255,255,1) 72%, rgba(213,247,255,1) 81%, rgba(255,255,255,1) 90%, rgba(209,247,255,1) 99%); 
}

img {
    flex-shrink: 0; 
}

nav a:hover {
    color: blue;
    background: PaleTurquoise;
}

div p{
    width: 50%;
    float: left;
}

img{
    float: right;
    display: flex;
}
