body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: blue; 
    color: white;
    padding: 10px 0;
    text-align: center;

}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    background: lightblue; 
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: darkblue; 
}

footer {
    text-align: center;
    padding: 10px 0;
    background: blue; 
    color: white;
    marguin: 0;
    padding: 0;
}

img {
     width: 40%; 
     height: 40%;
     margin: 20px 0;
     border: 3px solid blue;
     border-radius: 10px;
}
